/*variables primeros*/
@import "utilidades/colors";
@import "utilidades/type";
@import "utilidades/mixin";
/*reset segundo*/

/*secciones al ultimo*/
@import "secciones/header";
@import "secciones/main-index";
@import "secciones/footer";




/* media queri */
@media (max-width: 900px) {

  /* pagina fotos */
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    grid-auto-flow: row;
    grid-template-areas:
      "foto-1 foto-2 "
      "foto-4 foto-5 "
      "foto-3 foto-6";
  }

  /* fin fotos */
  .header__nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  /* pagina contacto */
  .main__div--contactos {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-items: center;
  }

  .formato_label {
    margin: 0 0 0 16px;
  }

  .formato_input {
    margin: 0;
  }

  .formato_input--email {
    margin: 0 0 0 20px;
  }

  .textarea {
    margin: 0 0 0 6px;
  }

  .form__form--label {
    font-size: 20px;
    text-align: center;
  }

  .h2_form {
    text-align: center;
    font-size: 22px;

  }

  .botones_form {
    margin: 0 0 0 50px;
  }

  /*fin contactos*/

  .header {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
  }



  .main__div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .imgMain {
    border: 2px aqua solid;
    border-radius: 10px;
    width: 450px;
    height: 400px;
    margin: 0 0 30px 0;
  }

  /* ubicacion */
  .div__mapa {
    margin: 20px 0 0 0;
  }

  .mapa {
    width: 300px;
    height: 300px;
  }

  /* footer */
  .img__contactos {
    height: 300px;
    width: 300px;
  }
}

/* celulares */
@media (max-width: 480px) {
  .container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    justify-content: center;
    grid-auto-flow: row;
    grid-template-areas:
      "foto-1"
      "foto-2"
      "foto-4"
      "foto-5"
      "foto-3"
      "foto-6";
  }

  /* pagina contacto */
  .main__div--contactos {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-items: center;
  }

  /* fin pagina contacto */

  .header {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    flex-direction: rou w;
  }
  

  /* formulario */
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form__form {
    width: 300px;
  }

  .textarea {
    width: 280px;
  }

  /* fin de formulario */

  .imgMain {
    border: 2px aqua solid;
    border-radius: 10px;
    width: 200px;
    height: 200px;
  }

  .footer__div {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
  }

  .footer__div--div {
    display: flex;
    flex-direction: row;
  }

  .img__contactos {
    height: 200px;
    width: 200px;
  }

  /* ubicacion */
  .div__mapa {
    margin: 20px 0 0 0;
  }

  .mapa {
    width: 300px;
    height: 200px;
  }
}